<!-- Project -->
  <div class="row-fluid" 
        ng-repeat="project in projects" 
        ng-show="project.isSelected" 
        >

    <!-- Header -->
<!-- 
    <div class="border-bottom">
    </div>
-->
      <!-- Title -->
      <div class="span3" style="padding-left: 20px;">
        <strong>{{project.title}}</strong>
      </div>

      <!-- Controls -->
      <div class="span9">
        <div class="btn-toolbar pull-right no-margin">
          <a class="btn btn-mini zbtn-primary" href="#"><i class="icon-plus zicon-white"></i> New Task</a>
          <div class="btn-group hide">
            <a class="btn btn-mini" href="#" onclick="return false;" rel="tooltip" title="Hide project">Collapse</a>
            <a class="btn btn-mini" href="#" onclick="return false;" rel="tooltip" title="Hide project">Hide</a>
          </div>
        </div>
      </div>

      <br class="clearfix"/>

      <!-- Separator -->

      <!-- task Tree -->
      <div class="taskTreeRoot" ng-show="project.isExpanded">
          <tree root="project.taskTree"></tree>
      </div>
      
  </div>
